body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: $a4-width;
  min-height: $a4-height;
  padding: $a4-printmargins;
  margin: $a4-printmargins auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  border: 5px $primary solid;
  height: 277mm;
  outline: $a4-printmargins darkgray solid;
  background-color: $body-bg;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: $a4-width;
    height: $a4-height;
    -webkit-print-color-adjust: exact;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}