// Name font
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700');

// Variables
@import './variables';

// A4 formatting
@import 'a4page';

// Override A4 formatting from bootstrap
@import 'bootstrapprintableoverride';

// Packages
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all';

.name-font {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.4cm;
  line-height: 1cm;
}

.profile-picture {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.profile-picture img {
  width: 300px; // re-sizing image
  height: 300px; // re-sizing image
  margin-left: -1cm; // picture positioning
  position: relative;
}

.fading-underline {
  height: $underline-width;
  background: $primary;
  background: -webkit-gradient(linear, 0 0, 100% 0, from($dark), to($dark), color-stop(50%, $primary));
}

.horizontal-colored-border {
  height: 1.1cm;
  width: $a4-innerwidth;
  background-color: rgba($primary, .5);
  position: relative;
  margin-top: -1.1cm;
}

p.text-small {
  font-size: 0.3cm;
}

p.text-smaller {
  font-size: 2.5mm;
}

.sidebar-header-underline {
  height: $underline-width;
  background: $primary;
}

.sidebar-header-underline-before {
  position: absolute;
  right: 0;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 1cm;
}

.sidebar-header-underline-after {
  position: absolute;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 1cm;
}

.sidebar-icon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $light;
  padding: 0.5em 0.6em;
  width: 8.7mm;
  height: 8.7mm;
}

.sidebar-icon [class^="icon-"],
.sidebar-icon [class*=" icon-"]{
  display: inline-block;
  width: 100%;
}

.text-smaller-line {
  line-height: 1.0;
}

.circle {
  height: 0.3cm;
  width: 0.3cm;
  background-color: $primary;
  border-radius: 50%;
  display: inline-block;
}
.circle-open {
  height: 0.3cm;
  width: 0.3cm;
  background-color: $light;
  border-radius: 50%;
  display: inline-block;
}

.skill-description {
  margin-top: -0.1cm;
}

.skill-title {
  margin-top: 2mm;
}