// Name font
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700');

// Variables
@import './variables';

// A4 formatting
@import 'a4page';

// Override A4 formatting from bootstrap
@import 'bootstrapprintableoverride';

// Packages
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all';

.name-font {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.4cm;
  line-height: 1cm;
}

.profile-picture {
  max-height: 300px;
  overflow: hidden;
}

.profile-picture img {
  max-height: $pic-scale * $pic-height; // re-sizing image : scale * total height
  margin-left: $pic-margin-left; // picture positioning
  margin-top: $pic-margin-top; // picture positioning
  position: relative;
}

.fading-underline {
  height: $underline-width;
  background: $primary;
  background: -webkit-gradient(linear, 0 0, 100% 0, from($dark), to($dark), color-stop(50%, $primary));
}

.horizontal-colored-border {
  height: 1.1cm;
  width: $a4-innerwidth;
  background-color: rgba($primary, .5);
  position: relative;
  margin-top: -1.1cm;
}

.text-small {
  font-size: 0.3cm;
}

.text-smaller {
  font-size: 2.5mm;
}

.sidebar-header-underline,
.main-header-underline {
  height: $underline-width;
  background: $primary;
}

// Contact
.sidebar-header-underline-before-contact {
  position: absolute;
  right: 0;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 18mm;
}

.sidebar-header-underline-after-contact {
  position: absolute;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 18mm;
}

// Technical Skills
.sidebar-header-underline-before-skills {
  position: absolute;
  right: 0;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 35mm;
}

.sidebar-header-underline-after-skills {
  position: absolute;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 35mm;
}

// Programming Languages
.sidebar-header-underline-before-langs {
  position: absolute;
  right: 0;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 54mm;
}

.sidebar-header-underline-after-langs {
  position: absolute;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 54mm;
}

// Main - Education
.main-header-underline-before-ed {
  position: absolute;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 34mm;
}

.main-header-underline-after-ed {
  position: relative;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 34mm;
}

// Main - Work Experience
.main-header-underline-before-exp {
  position: absolute;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 59mm;
}

.main-header-underline-after-exp {
  position: relative;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 59mm;
}

// Main - Projects
.main-header-underline-before-prj {
  position: absolute;
  margin-top: -1*$underline-width;
  height: $underline-width + 1px;
  background: $primary;
  width: 28mm;
}

.main-header-underline-after-prj {
  position: relative;
  right: 0;
  margin-top: -1px;
  height: $underline-width + 1px;
  background: $primary;
  width: 28mm;
}

.sidebar-icon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $light;
  padding: 0.5em 0.6em;
  width: 8.7mm;
  height: 8.7mm;
}

.sidebar-icon [class^="icon-"],
.sidebar-icon [class*=" icon-"]{
  display: inline-block;
  width: 100%;
}

.text-smaller-line {
  line-height: 1.0;
}

.circle {
  height: 0.3cm;
  width: 0.3cm;
  background-color: $primary;
  border-radius: 50%;
  display: inline-block;
}
.circle-open {
  height: 0.3cm;
  width: 0.3cm;
  background-color: $light;
  border-radius: 50%;
  display: inline-block;
}

.skill-description {
  margin-top: -0.1cm;
}

.skill-title {
  margin-top: 1mm;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}